
   
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700;900&display=swap');

:root {
    --color-red-light: rgb(231, 77, 60);
    /* #E74D3C */
    --color-red-dark: rgb(192, 57, 43);
    /* #C0392B */
    --color-orange-light: rgb(230, 125, 34);
    /* #E67D22 */
    --color-orange-dark: rgb(211, 84, 0);
    /* #D35400 */
    --color-yellow-light: rgb(241, 196, 15);
    /* #F1C40F */
    --color-yellow-dark: rgb(243, 156, 18);
    /* #F39C12 */
    --color-green-light: rgb(46, 204, 112);
    /* #2ECC70 */
    --color-green-dark: rgb(39, 174, 96);
    /* #27AE60 */
    --color-turquoise-light: rgb(26, 188, 156);
    /* #1ABC9C */
    --color-turquoise-dark: rgb(22, 160, 132);
    /* #16A084 */
    --color-blue-light: rgb(52, 152, 219);
    /* #3498DB */
    --color-blue-dark: rgb(41, 128, 185);
    /* #2980B9 */
    --color-purple-light: rgb(156, 89, 182);
    /* #9C59B6 */
    --color-purple-dark: rgb(142, 68, 173);
    /* #8E44AD */
    --color-white-light: rgb(236, 240, 241);
    /* #ECF0F1 */
    --color-white-dark: rgb(189, 195, 199);
    /* #BDC3C7 */
    --color-gray-light: rgb(149, 165, 166);
    /* #95A5A6 */
    --color-gray-dark: rgb(127, 140, 141);
    /* #7D8C8D */
    --color-black-light: rgb(52, 73, 94);
    /* #34495E */
    --color-black-dark: rgb(44, 62, 80);
    /* #2c3e50 */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

body{
    background-color: var(--color-white-light);
}

header{
    text-align: center;
    line-height: 300px;
    height: 300px;
    font-size: 72px;
    font-weight: 700;
    color: var(--color-white-light);
    text-shadow: 0 0 10px var(--color-black-light);
    background: var(--color-black-light)
    /* linear-gradient(135deg, var(--color-turquoise-light) 0%,
var(--color-blue-dark) 100%) */;
    margin: 75px 0 0 0;
}


nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 0 15px;
    background-color: var(--color-black-dark);
    /*box-shadow: 0 0 10px var(--color-black-light);*/
}

nav img {
    height: 50px;
    width: 50px;
    padding: 8px 0;
}


nav>ul{
    list-style-type: none;
}

nav>ul li{
    display: inline-block;
    height: 75px;
    width: 120px;
    text-align: center;
    line-height: 75px;
    font-size: 22px;
    color: var(--color-white-light);
}

nav>ul li:hover{
    opacity: 0.5;
    cursor: pointer;
}

nav img:hover{
    opacity: 0.5;
    cursor: pointer;
}

main {
    max-width: 896px;
    margin: 32px auto;
    padding: 0 15px;
}

main p{
    line-height: 24px;
    margin-bottom: 12px;
    color: var(--color-black-dark);
}

main ol, main ul{
    margin-left: 15px;
    margin-bottom: 12px;
}

main>ol>ul {
    margin-bottom: 0px;
}

main ol { counter-reset: item; }
main ol li { display: block; }
main ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: var(light --color-black-light);
    font-weight: 700;
    margin-right: 4px;
}

main li{
    line-height: 24px;
    color: var(--color-black-dark);
}

main h1 {
    margin-top: 36px;
    margin-bottom: 24px;
    color: var(--color-black-light);
}

main h2 {
    margin-top: 36px;
    margin-bottom: 24px;
    color: var(--color-black-light);
}

main img {
    margin: 10px 0px;
    max-width: 100%;
    height: auto;
    border-radius: 11px;
}

main code{
    margin: 12px;
    padding: 8px 12px;
    display: block;
    white-space: pre-line;
    border-radius: 12px;
    font-family: "Consolas", serif;
    color: var(--color-white-light);
    background-color: var(--color-black-light);
}

footer{
    padding: 30px 0; 
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-black-dark);
    box-shadow: 0 50vh 0 50vh var(--color-black-dark);
}

footer .col{
    text-align: center;
    display: block;
    width: 240px;
    color: var(--color-white-light);
}

footer .ryerson_footer {
    height: 72px;
}


footer p{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

footer ul{
    padding-left: 0;
    list-style-type: none;
}



footer .col:nth-child(2) ul li {
    display: inline;
}

footer ul img{
    margin-left: 4px;
    height: 20px;
    display: inline;
    vertical-align: middle;
}

footer .col img:hover{
    opacity: 0.5;
}

footer a{
    color: var(--color-white-light);
    text-decoration: none !important;
    
}

footer .col:first-child li:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* tester */
.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  
  .actions {
    text-align: right;
  }
  
  .afterclk {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .card {
    background-color: white;
    border-radius: 4px;
    position: static;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 6rem;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .new-line {
    white-space: pre-line;
  }

 #changeBoxBack {
  background-color: var(--color-black-light);
  height: 20vh;
 }

 .parentDiv {  
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: var(--color-gray-light);
} 